{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h2> Started {{ year }} and unfinished </h2>
    <ul>
        {% for resource in progress %}
            <li> <span>{{ resource.name }}</span> <span> {{ resource.progress }}%</span><span> &#9998;</span> <span> 🗑 </span></li>
        {% endfor %}
    </ul>

    <h2> Finished {{ year }}</h2>
    <ul>
        {% for resource in finish %}
            <li><span>{{ resource.name }}</span> <span> {{ resource.progress }}%</span><span> edit </span> <span> delete</span></li>
        {% endfor %}
    </ul>

    <h2> Started {{ previousYear }} and unfinished </h2>
    <ul>
        {% for resource in previousProgress %}
            <li><span>{{ resource.name }}</span> <span> {{ resource.progress }}%</span><span> edit </span> <span> delete</span></li>
        {% endfor %}
    </ul>

    <h2> Finished {{ previousYear }}</h2>
    <ul>
        {% for resource in previousFinish %}
            <li><span>{{ resource.name }}</span> <span> {{ resource.progress }}%</span><span> edit </span> <span> delete</span></li>
        {% endfor %}
    </ul>

{% endblock %}
