{% extends 'base.html.twig' %}

{% block body %}
    <h2> Finished {{ year }}</h2>
    <ul class="resource_list">
        {% for resource in finish %}
            <li>
                <span>{{ resource.name }}</span>
                <span> {{ resource.progress }}%</span>
            </li>
        {% endfor %}
    </ul>
    <h2> Started {{ year }} and unfinished  </h2>

    <ul class="resource_list">
        {% for resource in progress %}
            <li>
                <span>{{ resource.name }}</span>
                <span> {{ resource.progress }}%</span>
            </li>
        {% endfor %}
    </ul>

    <h2> Started {{ previousYear }} and unfinished </h2>
    <ul class="resource_list">
        {% for resource in previousProgress %}
            <li>
                <span>{{ resource.name }}</span>
                <span> {{ resource.progress }}%</span>
            </li>
        {% endfor %}
    </ul>

    <h2> Finished {{ previousYear }}</h2>
    <ul class="resource_list">
        {% for resource in previousFinish %}
            <li>
                <span>{{ resource.name }}</span>
                <span> {{ resource.progress }}%</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
